/*
 * 
 * Modules > Variables
 * 
 */
/*
 * 
 * Modules > Buttons
 * 
 */
/*
 * 
 * Modules > Colors
 * 
 */
.black {
  color: #373737; }

.white {
  color: #fffadfa8; }

.bg-black {
  background-color: #373737; }

.bg-white {
  background-color: #fffadfa8; }

/*
 * 
 * Modules > Fonts
 * 
 */
#maps {
  color: white;
  text-decoration: none; }

/*
 * 
 * Modules > Inputs
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Modules > Mixins
 * 
 */
/*
 * 
 * Modules > Titles
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fffadfa8;
  padding-bottom: 352px;
  min-height: 100vh;
  position: relative; }

@font-face {
  font-family: " ";
  src: url("../fonts/"); }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Sidebar
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
#carouselCaptions {
  margin-top: 63px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*#carouselCaptions {
        margin-top: 63px;
    }
    
    .btn {
        position: relative;
    }*/ }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Footer
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
footer {
  background-color: #373737;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute; }
  footer h3 {
    font-size: 17px; }
  footer .btn-group button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-color: #293541;
    background: #293541; }
    footer .btn-group button:hover {
      background: #dc3545;
      border-color: #dc3545; }
    footer .btn-group button i {
      color: white;
      font-size: 20px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #373737; }
    footer h3 {
      font-size: 18px; }
    footer .icon-wolves {
      margin-left: -30px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-group button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-color: #293541;
    background: #293541; }
  .btn-group:hover {
    background: #dc3545;
    border-color: #dc3545; }
  .btn-group i {
    color: white;
    font-size: 20px; }
  .btn-secondary a i {
    transition: 0.5s all; }
  .btn-secondary a:hover > i {
    transform: scale(2.4) rotate(26deg); }
  footer {
    font-family: 'Roboto Slab', sans-serif;
    background-color: #373737; }
    footer h3 {
      font-weight: bold;
      font-size: 21px; }
    footer h4 {
      font-size: 16px; }
    footer p {
      font-size: 13px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Header
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar ul li {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .navbar ul li a:hover {
    color: #c83a17 !important;
    transition: 0.2s; }
  #logo-scroll {
    list-style: none; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Nav
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../image/Icons/Loading.gif") 50% 50% no-repeat white; }

.logo-carregamento {
  margin: auto;
  text-align: center;
  margin-top: 5%; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../image/Icons/Loading.gif") 50% 50% no-repeat white; }
  .logo-carregamento {
    margin: auto;
    text-align: center;
    margin-top: 5%; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Publicity
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
#publicity {
  font-family: 'Roboto Slab', serif;
  text-align: center; }
  #publicity h3 {
    font-size: 21px;
    font-weight: bold; }
  #publicity p {
    font-size: 13px;
    font-weight: bold; }
  #publicity a {
    font-size: 14px;
    font-weight: bold; }

.btn-cadastro {
  font-size: 14px;
  font-weight: bold; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #publicity {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    height: 300px; }
    #publicity .card-clientes {
      height: 10rem; }
    #publicity h3 {
      font-size: 21px;
      font-weight: bold; }
    #publicity p {
      font-size: 8px;
      font-weight: bold; }
    #publicity a {
      font-size: 14px;
      font-weight: bold; }
  .btn-cadastro {
    font-size: 14px;
    font-weight: bold; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #publicity {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    height: 200px; }
    #publicity .card-clientes {
      height: 12rem; }
    #publicity h3 {
      font-size: 21px;
      font-weight: bold; }
    #publicity p {
      font-size: 8px;
      font-weight: bold; }
    #publicity a {
      font-size: 14px;
      font-weight: bold; }
    #publicity h3 {
      font-size: 21px;
      font-weight: bold; }
    #publicity p {
      font-size: 13px;
      font-weight: bold; }
    #publicity a {
      font-size: 14px;
      font-weight: bold; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > efect
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif; }

@font-face {
  font-family: " ";
  src: url("../fonts/"); }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #efeito {
    position: relative;
    top: 0;
    transition: all .2s ease-in-out; }
    #efeito:hover {
      top: -4px;
      box-shadow: 0 6px 8px #999; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #about img {
    margin-top: 3rem;
    height: 15rem; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about img {
    margin-top: auto;
    height: auto; }
  #about p {
    font-size: 18px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.comments {
  font-size: 20px;
  color: red; }
  .comments:hover {
    color: black; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .comments {
    font-size: 18px;
    color: red; }
    .comments:hover {
      color: black; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .comments {
    font-size: 20px; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
.main-title {
  margin-top: 20%; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-title {
    margin-top: 13%;
    text-align: center; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-title {
    margin-top: 13%;
    text-align: center; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Components > Login
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
form {
  top: 370px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  font-family: sans-serif;
  border: 3px solid #dc3545; }

.box {
  width: 100%;
  padding: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #373737;
  text-align: center;
  border: 3px solid #dc3545; }
  .box h1 {
    color: white;
    font-weight: 500; }
  .box p {
    color: white; }
  .box a {
    color: rgba(255, 255, 255, 0.185); }
    .box a:hover {
      color: #dc3545; }

.box input[type="text"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #dc3545;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s; }

.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 280px;
  border-color: #dc3545; }

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #dc3545;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer; }

.box input[type="submit"]:hover {
  background: #dc3545; }

.btn-login {
  margin-bottom: 150px; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  form {
    top: 500px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  form {
    top: 370px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%; } }

/* Large devices (large desktops, 1200px and up) */
/*
 * 
 * Site > Base
 * 
 */
/* MOBILE STYLES ------------------------------------------------------------*/
#register {
  margin-top: 36px;
  left: 50%;
  bottom: 0;
  right: 0;
  height: 100%; }

/* MEDIA QUERY ------------------------------------------------------------*/
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #register {
    margin-top: 400px;
    left: 50%;
    bottom: 0;
    right: 0;
    height: 100%; } }

/* Large devices (large desktops, 1200px and up) */
