/*
 * 
 * Components > Login
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
form {
  
  top: 370px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  font-family: sans-serif;
  border: 3px solid #dc3545;
}

.box { 
  width: 100%;
  padding: 40px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $black;
  text-align: center;
  border: 3px solid #dc3545;

  h1 {
    color: white;
    font-weight: 500;
  }

  p {
    color: white;
  }

  a {
    color: rgba(255, 255, 255, 0.185);

    &:hover {
      color: #dc3545;
    }
  }

}

.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #dc3545;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #dc3545;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #dc3545;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #dc3545;
}

.btn-login {
    margin-bottom: 150px;
}

    



/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  form {
  top: 500px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;

  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  form {
    top: 370px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
