/*
 * 
 * Site > Publicity
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/
#publicity{
    font-family: 'Roboto Slab', serif;
    text-align: center;

    h3 {
        font-size: 21px;
        font-weight: bold;
    }

    p {
        font-size: 13px;
        font-weight: bold;
    }

    a {
        font-size: 14px;
        font-weight: bold;
    }
}

.btn-cadastro {
    font-size: 14px;
    font-weight: bold;
}

  /* MEDIA QUERY ------------------------------------------------------------*/
  
  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    #publicity{
        font-family: 'Roboto Slab', serif;
        text-align: center;
        height: 300px;

        .card-clientes {
            height: 10rem;
        }

        h3 {
            font-size: 21px;
            font-weight: bold;
        }

        p {
            font-size: 8px;
            font-weight: bold;
        }

        a {
            font-size: 14px;
            font-weight: bold;
        }
    }
    
    .btn-cadastro {
        font-size: 14px;
        font-weight: bold;
    }

  }
  
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    #publicity{
        font-family: 'Roboto Slab', serif;
        text-align: center;
        height: 200px;

        .card-clientes {
            height: 12rem;
        }

        h3 {
            font-size: 21px;
            font-weight: bold;
        }

        p {
            font-size: 8px;
            font-weight: bold;
        }

        a {
            font-size: 14px;
            font-weight: bold;
        }
        
        h3 {
            font-size: 21px;
            font-weight: bold;
        }

        p {
            font-size: 13px;
            font-weight: bold;
        }

        a {
            font-size: 14px;
            font-weight: bold;
        }
    }

    
    
  }
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
  }
  