/*
 * 
 * Site > Header
 * 
 */

/* MOBILE STYLES ------------------------------------------------------------*/

/* MEDIA QUERY ------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    .navbar ul li{
        font-size: 14px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .navbar ul li a:hover{
        color:  #c83a17!important;
        transition: 0.2s;
    }
    
    #logo-scroll {
        list-style: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
}
